
/* From https://raw.githubusercontent.com/mojombo/tpw/master/css/syntax.css */
/* .highlight  { background: #ffffff; } */
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

pre.highlight {
    border: 1px solid #dee2e6 !important;
    padding: 3px;
    background-color: #f5f5f5;
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}


.navbar-qs {
    background-color: #212121;
    line-height: 32px;
}

.navbar-qs a, .navbar-qs a:active, .navbar-qs a:hover {
    color: #dfdfdf;
}

h2 {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 1px solid #c9c9c9;
    padding-bottom: 10px;
}

h2.notopmargin {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.how-to {
    margin-top: 10px;
}

.how-to h2 {
    border: 0;
    padding-top: 10px;
}

blockquote {
    border-left: #aaaaaa 3px solid;
    padding-left: 10px;
    color: #707070;
}

.navbar-qs .logo {
    border: 0;
    width: 122px;
    height: 32px;
    display: inline-block;
    background: url("../img/logo-white-named.svg") center center no-repeat;
}


#footer {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    border-top: 1px solid black;
    background-color: lightgray;
    /* background: url("../img/bg1.jpg") center bottom fixed; */
}

/* Background */
.bg-critical {
    /* background-color: #dc3545 !important; */
    background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
}

.bg-major {
    background-image: linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);
}

.bg-minor {
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.bg-infocompat {
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}

.rtext {
    text-align: right;
}

.compat-mod {
    margin-bottom: 15px;
}

.compat-card {
    padding: 10px 15px;
}

.compat-card h4 {
    font-size: 18px;
    margin: 0;
}

.compat-card p {
    margin: 0;
}

/* Commands */

.cmd {
    border: 1px solid black;
    margin-bottom: 5px;
}

.cmd > .collapseablepanel {
    border-top: 1px solid black;
    display: none;
    background: #cff8ff;
}

.command > .c {

}

.cmd > .command {
    cursor: pointer;
    background: #5c93e2;
    color: white;
    padding: 0 5px;
    line-height: 32px;
    font-size: 16px;
    font-style: italic;
}

.cmd .int {
    padding: 2px 5px;
}

.cmd > .std {

}

.std span {
    margin-right: 5px;
}

div.command {
    width: 100%;
    border: black 1pt solid;
    margin-bottom: 5px;
    background: white;
}

div.command > div {
    padding: 3px 5px;
}

div.command > .command-head {
    font-size: x-large;
    border-bottom: black 1pt solid;
    background: aliceblue;
}

.command-head > a {
    text-underline: none;
    color: black;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

div.command > .command-description {
    font-size: large;
    font-weight: 600;
}

div.command > .command-head > .command-module {
    font-size: medium;
    float: right;
    vertical-align: bottom;
}

div.command-usage > p {
    margin-bottom: 3px;
}

.toc-wrap {
    /* display: flow; */
    top: 50px;
    position: sticky;
    margin-left: -15px;
    padding-left: 15px;
    border-left: 1px solid #424242;
}

.toc-wrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toc-wrap ul ul {
    list-style-type: none;
    /*margin: 10px;*/
    padding: 10px;
    font-size: 10pt;
}

.toc-wrap ul li {
    padding-bottom: 5px;
}

pre.highlight {
    border: 1px solid #dee2e6 !important;
    padding: 3px;
    background-color: #f5f5f5;
}

.permissionblock {
    display: block;
    position: relative;
    line-height: 38px;
    width:100%;
    border: 1px solid #dee2e6 !important;
    padding: 3px;
    background-color: #f5f5f5;
}

.permswitch {
    position: absolute;
    right: 0;
    height: 38px;
    margin:0;
    top:0;
}

.toplinesticky {
    top:0;
    z-index: 9999999 !important;
    background-color: #ffffff;
    opacity: 1;
    position: sticky;
}

.permmenu {
    max-width: 300px;
}

.permmenu h6 {
    display: inline-block;
    white-space: normal;
    padding: 2px;
}

.pageheadertop {
    display: none;
}

.firsth2nomargin h2:first-child {
    margin-top: 0;
}

/* Tutorials */

.tutorials {
    margin: 0 0 30px 0;
}

.tutorials .tutorials-box {
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 15px;
}

.tutorials-box a {
    color: black;
}

.tutorials .tutorials-box:first-child {
    border-left: 1px solid black;
}

.tutorials .tutorials-box:last-child {
    border-right: 1px solid black;
}

.tutorials .tutorials-box.active-step {
    color: white;
    background: url("../img/tut-in.svg") left -1px center black no-repeat;
    background-size: contain;
    border-left: 1px solid white;
}

.tutorials .tutorials-box.active-step + .tutorials-box {
    background: url("../img/tut-out.svg") left -1px center white no-repeat;
    background-size: contain;
}

.tutorials .tutorials-box.active-step a {
    color: white;
}

.next-tut {
    text-align: right;
}

.blocklink {
    display: inline-block;
}

.link-lead {
    /* font-weight: bold;*/
    font-size: larger;
    margin-bottom: 0;
    padding-bottom: 0;
}

a > .link-lead {
    font-weight: 600;
    text-decoration: underline;
}

hr.black {
    border-color: black;
}

.beta {
    min-height: 30px;
    background: #ffe65a;
}

.beta .container div {
    padding-left: 20px;
    background: url("../img/exclamation-triangle-fill.svg") left center no-repeat;
}