<div class="dropdown">
    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="permswitchbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Permission Plugin
    </button>
    <div class="dropdown-menu dropdown-menu-right permmenu" aria-labelledby="dropdownMenuButton">
        <div id="permplugins">

        </div>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Permission plugin commands are provided as-is and do not imply endorsement.</h6>
    </div>
</div>
