<div id="searchoverlay">

    <div id="searchcontainer" class="container">
        <div class="row">
            <div class="col">
                <form autocomplete="off" class="form" data-search="true" method="get">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><img src="/img/search.svg" alt="Search" /></div>
                        </div>
                        <input class="form-control" data-search="true" type="text" id="search-box" name="query">
                        <div class="input-group-append">
                            <button data-submit="true" type="submit" class="btn btn-outline-secondary" type="button">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" data-search-type="general">
            <div class="col">
                <hr />
                <div id="search-result-loader">
                    <em>Downloading search database, this won't take long...</em>
                </div>
                <div id="search-result-container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#pages">Pages <span id="pages-count" class="badge badge-pill badge-primary">0</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"  href="#commands-s">Commands <span id="commands-count" class="badge badge-pill badge-primary">0</span></a>
                        </li>
                    </ul>
                    <div class="tab-content" id="search-tab-content">
                        <div class="search-results tab-pane show active" id="pages" role="tabpanel" aria-labelledby="home-tab"></div>
                        <div class="search-results tab-pane" id="commands-s" role="tabpanel" aria-labelledby="profile-tab"></div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>