<!doctype html>
{% include base.html %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/highlights.css" />
</head>
<body>

<nav class="navbar navbar-dark navbar-qs">
    <div class="container">
        <a href="{{ site.baseurl }}/" class="logo">
        </a>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/docs">Docs</a>
        <a href="https://ore.spongepowered.org/Nucleus/Nucleus">Download</a>
        <a href="/">Discord</a>
        <a href="/">Github</a>
    </div>
</nav>
<div class="toplinesticky">
<div class="beta">
    <div class="container">
        <div>
            <strong>This site is a work in progress and is being designed for Nucleus v2!</strong> Some things might be missing or incomplete. <a href="https://nucleuspowered.org">Click here to return to the current website for Nucleus v1</a>.
        </div>
    </div>
</div>
{% if page.adddocslink or layout.adddocslink %}
<div class="container">
    <div class="row">
        <div class="col-9" style="padding-top: 10px;">
            <a href="{{ site.baseurl }}/docs">&laquo;<span class="doclinksec"> Return to Documentation Home Page</span></a>
            <span class="pageheadertop"> // <span id="pageheadertopname">{{ page.header }}</span></span>
        </div>
        <div class="col-3" style="padding-top: 10px; text-align: right;">
            {% include permissiondropdown.html %}
        </div>
    </div>
    <hr style="margin: 5px -15px; border-top-color: #999999;" />
</div>
{% endif %}
</div>

<div class="container">
    <div class="row">

        <div class="col {% if page.additionalcontainerclass %}
        {{page.additionalcontainerclass}}
        {% elsif layout.additionalcontainerclass %}
        {{layout.additionalcontainerclass}}{% endif %}">
            {{content}}
        </div>

    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row" style="margin-bottom: 3px;">
            <div id="qs-quote" class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div style="float: left;">
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" style="line-height: 40px; padding-right: 10px;">
                        <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                </div>
                &copy; Daniel Naylor &amp; contributors, 2016-2020. Website content is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>,
                <strong>except</strong> for the Nucleus logo, where all rights are reserved. The Nucleus plugin is licensed under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT licence</a>. <a href="{{ site.baseurl }}/codeofconduct.html">Code of Conduct</a>
            </div>
        </div>
    </div>
</footer>

<!-- scripts -->
<script src="{{ site.baseurl }}/js/jquery-3.5.0.min.js"></script>
<script src="{{ site.baseurl }}/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>
<script src="{{ site.baseurl }}/js/modules.js"></script>
</body>
</html>
