---
layout: default
searchable: true
---
<div class="how-to">
    <div class="row">
        <div class="col">
            <h1 id="pageheader">{{ page.header }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <p class="lead">
                {{ page.lead }}
            </p>
            {{ content }}
        </div>
        <div class="toc-l col no-gutter">
            <div class="toc-wrap">
                <h3><small>Page contents</small></h3>
                <div class="toc-wrap-a">
                    {% include toc.html html=content h_min=2 class=toc-ul %}
                </div>
            </div>
        </div>
    </div>
</div>